.postDetail {
  padding: 0.8rem;
  border: 1px solid lightgray;
  border-radius: 0.8rem;
  margin-bottom: 1rem;
}

.textSmall {
  font-size: small;
}

.textLarge {
  font-size: large;
}

.detailHeader {
  display: flex;
}

.postToolbar {
  margin-left: 1rem;
}

.votingGroup {
  display: flex;
  align-items: center;
}

.votes {
  width: 5rem;
}
